
h1 {
  letter-spacing: -0.2em;
  font-size: 100px;
  font-feature-settings : "palt";
  text-align: left;
  color: #fff;
}
h2 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 60px;
  font-feature-settings : "palt";
  text-align: left;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1em;
}
wf-notosansjapanese {
  font-family: "Noto Sans Japanese";
}
header {
  padding-top: 4em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  background-color: #ffffff;
}
.logo{
  margin-left: auto;
  margin-right: auto;
}
.rotate-anime {
  height: 70px;
  width: 70px;
  padding: 0;
  margin-left: 2em;
  animation: rotate-anime 1s linear infinite;
 }
 @keyframes rotate-anime {
 0%  {transform: rotate(0);}
 100%  {transform: rotate(360deg);}
}
.KV{
  margin-top: 0px;
  margin-bottom: 0px;
}
.absolute{
  height: 0;
  width: 0;
}
.TOPTEXT1{
  text-shadow: 2px 2px 0 #ff3d00,
              -2px 2px 0 #ff3d00,
               2px -2px 0 #ff3d00,
              -2px -2px 0 #ff3d00;
  bottom: 480px;
  position: relative;
  line-height: 80px;
  padding-left: 60px;
  padding-bottom: -80px;
  margin: 0px;
  font-style: italic;
  font-family: "Noto Sans Japanese","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif ;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 100px;
  color: #ff3d00
}
.KVimg{
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.note{
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 32px;
  font-feature-settings : "palt";
  text-align: left;
  color: #fff;
  padding: : 0em;
}
.subtext {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 40px;
  font-feature-settings : "palt";
  text-align: left;
  color: #fff;
}
.bg1{
  padding-top: 12em;
  padding-bottom: 8em;
  background-color: #060606;
}
.text{
  margin-left: 5em;
  margin-right: 5em;
}
.text1{
  padding-bottom: 3em;
  padding-top: 2em;
}
.comment {
	text-indent: 1em;
	color: #fff;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 40px;
  letter-spacing: 0.15em;
  line-height: 1.65em;
  margin-top: 0;
  margin-bottom: 0;
 }
body {
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  background-color: #fff;
}
.soundcloud{
  margin-bottom: -7em;
  margin-left: 4em;
  margin-right: 4em;
}
iframe{
	width: 100%;
	height: 200px;
  margin-top: 0px;
  margin-right: px;
  margin-bottom: 0px;
  margin-left: px;
}
footer{
	text-align: center;
  padding: 3em;
  background-color: #212121;
}
.footer{
  color: #fff;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 32px;
  letter-spacing: 0.07em;
}
